[Unit]
Description=isucon-supervisor
After=syslog.target

[Service]
LimitNOFILE=300000
WorkingDirectory=/home/isucon/portal/supervisor
EnvironmentFile=/home/isucon/portal/env.sh
PIDFile=/home/isucon/portal/supervisor/server-supervisor.pid

User=isucon
Group=isucon
ExecStartPre=/bin/sh -c "sudo /bin/systemctl set-environment ISUXPORTAL_SUPERVISOR_TOKEN=$(curl http://169.254.169.254/s/token/398c4de5b9e71ef42b7dca9e4d0d1b661ae85c4996f8d73fb015e3ae6b08a978222784bf348baf6c8e7c96a6d1a2886d) && sudo /bin/systemctl set-environment ISUXPORTAL_SUPERVISOR_TEAM_ID=$(curl http://169.254.169.254/teamid) && sudo /bin/systemctl set-environment ISUXPORTAL_SUPERVISOR_ENDPOINT_URL=$(curl http://169.254.169.254/s/endpoint/398c4de5b9e71ef42b7dca9e4d0d1b661ae85c4996f8d73fb015e3ae6b08a978222784bf348baf6c8e7c96a6d1a2886d)"
ExecStart=/home/isucon/portal/supervisor/target/release/isuxportal-supervisor /home/isucon/isuumo/bench/bench --data-dir /home/isucon/isuumo/initial-data --fixture-dir /home/isucon/isuumo/webapp/fixture
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
