[Unit]
Description=isucon-python
After=syslog.target

[Service]
WorkingDirectory=/home/isucon/isucon10-qualify/webapp/python
EnvironmentFile=/home/isucon/env.sh
PIDFile=/home/isucon/isucon10-qualify/webapp/python/server.pid

User=isucon
Group=isucon
ExecStart=/usr/bin/python3 app.py

[Install]
WantedBy=multi-user.target